mixin sign-in-modal(data)
	.fade.modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='sign_in_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						h2.h2 Sign In
						button.btn.btn--yellow.btn--xl(type="button", data-target="#sign_up_modal", data-toggle="modal", data-dismiss="modal") Sign up
					form.modal-inner-form.sign-in-form.js-form-check(action="javascript:void(0)")
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="email", required="", name="user_mail", placeholder="Your Email")
								span.form-control-placeholder Your Email
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="password", required="", name="user_password", placeholder="Password")
								span.form-control-placeholder Password
						button.btn.btn--yellow.btn--xl.form-control-submit(type="submit") Sign In
					.modal-inner-links
						a.modal-inner-links__item(href="javascript:void(0)") Not a member? Sign up
						a.modal-inner-links__item(href="javascript:void(0)") I forgot my password

mixin sign-up-modal(data)
	.fade.modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='sign_up_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						button.btn.btn--yellow.btn--xl(type="button", data-target="#sign_in_modal", data-toggle="modal", data-dismiss="modal") Sign in
						h2.h2 Sign Up
					form.modal-inner-form.sign-up-form.js-form-check(action="javascript:void(0)")
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="text", required="", name="user_name", placeholder="Username")
								span.form-control-placeholder Username
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="email", required="", name="user_mail", placeholder="Email")
								span.form-control-placeholder Email
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="password", required="", name="user_password", placeholder="Password")
								span.form-control-placeholder Password
						p.modal-inner-text Your password must be at least 6 characters long and must contain letters, numbers and special characters. Cannot contain whitespace.
						.form-control-wrap
							.input-wrap.required
								input.form-control.form-control--simple(type="text", required="", name="invite_code", placeholder="Invite code")
								span.form-control-placeholder Invite code
						button.btn.btn--yellow.btn--xl.form-control-submit(type="submit") Register
					.modal-inner-links
						a.modal-inner-links__item(href="javascript:void(0)") Already registered? Sign in

mixin check-email-modal(data)
	.fade.modal.check-email-modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='check_email_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						h2.h2 Check your #[span.dekor--yellow email]
					p.modal-inner-text Thank you! #[br] You completed the first step of registering on #[br] Sportsman.store To complete registration, go to your email #[br] and click on the verification link. Check the spam folder, as #[br] the letter may be there too.
					.modal-inner-btn-group
						button.btn.btn--xl.btn--light-blue(type="button") Resend email
						button.btn.btn--xl.btn--yellow.js-modal-close(type="button", data-dismiss="modal") Close

mixin select-region-modal(data)
	.fade.modal.select-region-modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='select_region_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					h2.h2 select your region
					p.modal-inner-text Your password must be at least 6 characters #[br] long and must contain letters.
					.modal-inner-btn-group
						button.btn.btn--yellow.btn--xl(type="button") 
							span #[b Europe] EU, UK, Scandinavia, Russia
						button.btn.btn--yellow.btn--xl(type="button")
							span #[b International] USA, Canada, Australia and rest world

mixin feedback-modal(data)
	.fade.modal.feedback-modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='feedback_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						h2.h2 #[span.dekor--yellow your] feedback
					p.modal-inner-cta-title Please, rate our service
					form.feedback-modal__form.js-form-check(action="javascript:void(0)")
						+rate-clickable({
							items: [
								{name: 'review1', id: 'review1_5'},
								{name: 'review1', id: 'review1_4'},
								{name: 'review1', id: 'review1_3'},
								{name: 'review1', id: 'review1_2', checked: true},
								{name: 'review1', id: 'review1_1'}
							]
						})
						label.feedback-modal__label(for="review_text")
							span.review-person__icon.h-object-fit
								img(src="s/images/tmp_file/reviews/review-person2.jpg", alt="person")
							span.form-control-wrap
								span.input-wrap.required
									textarea.form-control.feedback-modal__textarea(id="review_text", name="feedback_text", placeholder="Leave your feedback", required="")
						button.btn.btn--yellow.btn--xl(type="submit") Leave your feedback
						
mixin feedback-done-modal(data)
	.fade.modal.feedback-done-modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='feedback_done_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						h2.h2 Thanks #[br] for feedback!
					button.btn.btn--xl.btn--yellow.js-modal-close(type="button", data-dismiss="modal") Close

mixin wholesale-level-modal(data)
	.fade.modal.wholesale-level-modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop="static", id='wholesale_level_modal')
		button.modal-close.js-modal-close(type="button", data-dismiss="modal")
		.modal-dialog.modal-dialog-centered(role='document')
			.modal-content
				.modal-inner
					.modal-inner-top
						h2.h2 select your #[br] whosale price level
					.whosale-level-boxes
						.whosale-level-box.is-active
							button.btn.btn--yellow.btn--xl.whosale-level-box__btn(type="button")
								+svg('icon-check-list-dark')
								span Wholesale 1500
						.whosale-level-box
							button.btn.btn--yellow.btn--xl.whosale-level-box__btn(type="button")
								+svg('icon-check-list-dark')
								span Wholesale 3000
						.whosale-level-box
							button.btn.btn--yellow.btn--xl.whosale-level-box__btn(type="button") 
								+svg('icon-check-list-dark')
								span Wholesale 5000